.mainContainer{
  height : 4000px; /* 임의 px*/
  margin-top: 4.3%;
  display: flex;
  justify-content: flex-start;
}
.content_area{
  margin-left: 5.1%;
  width: 67.4%;
  height: 100%;

}
.mainVideo{
  width: 100%;
  border-radius: 1%;
  height: 17.8%;
}
#player{
  border-radius: 10px;
  width: 100%;
    height: 100%;
}
/* 유튜버 이미지 공통 */
.youtuberThumImg{
  background-image: url("../images/profile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
/* @@@@@@@@@@@@@ 동영상 상세 정보 @@@@@@@@@@@@@@@@@@@@ */


.content{
  /* height: 4.5%; */
  margin-top: 2%;
}
.content p{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding-top: 0.2%;
  margin-bottom: 0.5rem;
}
.content a{
  color : #2B76D9;
}
.contentDetail{
  height: 6.5rem;
  margin-top: 0.9rem;
  background-color : #F2F2F2 ;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
  cursor: pointer ;
}
.sort{
  font-size: 14px;
}

/* .contentDetailHidden{
  display: none;
} */
/* .contentDetail:target {
  height:20rem;
  background-color : #F2F2F2 ;
  
  display: inline-block;
  margin: 0;
} */


/* @@@@@@@@@@@@유튜버 정보@@@@@@@@@@@@@@ */


.contentyoutuberInfo{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.wrapName{
  display: flex;
  flex-direction: column;
  margin-right: 1.5%;
  width: 10rem;
}
.wrapName span:nth-child(2){
  font-size: 12px;
}

.name span{
  display: flex;
    flex-direction: row;
  width: 180px;
}
.acceptLogo{
  width:12px;
  height:12px;
  background-image: url("../images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}
.wrapClogo{
  width: 3.5rem;
  margin-top: 0.1rem;
}
.channelLogo{
  width: 40px;
  height: 40px;
  
  margin-right: 1.1%;
}
.
/* 버튼 이미지 스샷 */
/* .subBtt{
  width:60px;
  height:40px;
  background-image: url("../images/subs.png");
  background-size: contain;
  background-repeat: no-repeat;
} */
.subBttn{
  width: 4rem;
  height: 36px;
  background-color: black;
  color: white;
  padding: 0 16px;
  border-radius: 18px;
}
.divideInfo{
  display: flex;
    justify-content: space-between;
}
.infoBtt{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.infoBtt button{
  background-color: #F2F2F2;
  border-radius: 18px;
  width: 5rem;
  margin-right: 0.5rem;
  height: 2.3rem;
  font-size: 14px;
  font-weight: lighter;
}
.infoBttLike {
  display: flex;
  justify-content: center;
  
}
.infoBtt >.infoBttLike >.infoBttThumbsUp {
  border-radius: 40px 0 0 40px;
  border-right: 1px solid lightgray;
  margin: 0;
  font-size: 16px;
}
.infoBtt > .infoBttLike > .infoBttThumbsDown{
  border-radius: 0 40px 40px 0;
  
  width: 60px;
}

.infoBtt > .infoBttSave{
  border-radius: 18px;
  padding: 0 16px;
  width: 9rem;
  margin-right: 0.5rem;
}
.infoBtt > .infoBttMore{
  border-radius: 50%;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.infoBtt button:hover{
  background-color: #E5E5E5;
}


/* @@@@@@@@@@@@@댓글 작성@@@@@@@@@@@@@@ */


.insertContainer{
  height: 9rem;
  margin-top: 0.9rem;
  /* background-color : chartreuse ; */
  padding: 10px;

}
.replyIcon{
  width: 20px;
  height:20px;
  background-image: url("../images/sort.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.4rem;
}
.replyTopSection{
  display: flex;
  justify-content: flex-start;
}
.replyTopSection span{
  font-size: 20px;
  font-weight: bold;
  margin-right: 1.8rem;
}
.replyUserIcon{
  width: 40px;
  height:39px;
  border-radius: 50%;
  background-image: url("../images/unnamed.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.insertReply{
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.insertBox{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.insertBox input{
  border: 0;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  outline: none;
  background: none;
  font-size: 15px;
  transition: border-bottom 0.3s ease;
}
 .insertBox input:focus{
  border-bottom: 1px solid #000000;
} 
 .insertBox input:focus + .hiddenCornfirmBtt{
  display: flex;
  justify-content: space-between;
  
} 
.hiddenCornfirmBtt{
  display: none;
  margin-top: 1.1rem;
  /* display: flex;
  justify-content: space-between; */
}
.hiddenCornfirmBtt{
  font-size: 1.5rem;
}
.hiddenCornfirmBtt button:nth-child(1){
  background-color: #ffffff;
  width: 4rem;
  margin-right: 0.5rem;
  height: 2.3rem;
  font-weight: lighter;
}
.hiddenCornfirmBtt button:nth-child(1):hover{
  background-color: #E5E5E5;
  border-radius: 18px;
  width: 4rem;
  margin-right: 0.5rem;
  height: 2.3rem;
  font-weight: lighter;
}

.hiddenCornfirmBtt button:nth-child(2){
  background-color: #F2F2F2;
  border-radius: 18px;
  width: 4rem;
  margin-right: 0.5rem;
  height: 2.3rem;
  font-weight: lighter;
}
 /* 댓글 목록 */
.replyContainer{
  height: 100%;
  margin-top: 2.6%;
  background-color: bisque;
}
.replys{
  background-color: cyan;
  height: 4%;
  width: 98%;
  display: flex;
  justify-content: flex-start;
}
.rThumnail{
  width: 10%;
}
.rLeftThumImg{
  width: 40px;
  height: 40px;

}
.wrapReply{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rFix{
  height: inherit;
  height: 1.8rem;
  width: 100%;
}
.rMember{
  width: 100%;
  height: 1.8rem;
}
.rContent{
  width: 100%;
  height: 90% ;
}
.rLike{
  width: 100%;
  height: 3.6rem;
}
.rReply{
  width: 100%;
  height: 3.7rem;
}


/* @@@@@@@@@@@@@사이드 바@@@@@@@@@@@ */


.subContainer{
  height: 100%;
  width: 20.9%;
  background-color: deepskyblue;
  margin-left: 1.45%;
}