* {
  box-sizing: border-box;
  font-family:"Roboto", "Arial", sans-serif;
  line-height: 1.5;
}
body{
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 56px;
  padding: 0 16px;;
  background-color: #ffffff;
}
.leftHeader, .centerHeader, .rightHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.3%;
}
/* 히든 메뉴 */
.hiddenMenu{
  width: 20%;
  height: 100%;
  background-color: white;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
}
/* 히든 메뉴 */
/* 왼쪽 메뉴 + 로고 */
.leftHeader{
  padding-bottom: 0.6rem;
}
.menuToggle{
  width:30px;
  height:30px;
  padding-top: 0.85rem;
  background-image: url("../images/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.8rem;
  margin-left: 0;
}
.logoImage{
  width: 85px;
  height: 15px;
  padding-top: 0.2rem;
}
.logoIn  {
  width: 90px;
  height: 32px;
  background-image: url("../images/youtube_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1.5rem;
}
a{
  text-decoration: none;
}

/* 가운데 검색 input 창 */
.centerHeader{
  height: 40px;
}
.search{
  height: 100%;
  display: flex;
  justify-content: center;
  width: 37rem;
}
.inputAndKeyboard{
  border-radius: 40px 0 0 40px;
  border: 1px solid #C6C6C6;
  height: 100%;
  width: 100%;
  border-right: none;
  font-size: 1.03rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 0.7rem;
}
.searchIconContainer {
  position: relative;
  width: 24px; /* 돋보기 아이콘 컨테이너의 너비 조정 */
  height: 100%;
  align-items: center;
  display: none;
}
.searchIcon {
  width: 18px; /* 돋보기 아이콘의 크기 조정 */
  height: 18px;
  content: url("../images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
#searchBar{
  width: 100%;
}
/* 기존 input창 스타일 제거 */
#searchBar{
  border: none;
    outline: none; 
    background: none;
}
/* 키보드 아이콘 */
.keyboard{
  background-size: 1.3rem 0.7rem;
  background-position: right center;
  background-image: url("../images/keyboard.png");
  background-repeat: no-repeat;
  padding-right: 2.1rem;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

/* 검색 버튼 */
.wrapBtt{
  height: 100%;
  width: 64px;
  background-color: #f8f8f8;
  border-radius: 0 40px 40px 0;
  border: 1px solid #C6C6C6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBtt{
  width: 18px;
  height: 18px;
  background-image: url("../images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* 버튼 css없앰 */
button{
  background-color: transparent;
    border: none;
    cursor: pointer;
}
.search input{
  font-size: 0.9rem;
  padding-left: 0.95rem;
  border-color: #1C62B9;
    outline: none; 
}
/* 마이크 버튼 */
.micBtt{
  padding: 0;
  border-radius: 100px;
  margin-left: 12px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.micLogo{
  width: 1.7rem;
  height: 1.7rem;
  background-image: url("../images/mic.png");
  background-size: contain;
  background-repeat: no-repeat;

}

/* 오른쪽 로그인 검색 로고 */
.rightHeader{

}
.settingBtt{
  width: 2.2rem;
}
.settingLogo{
  width: 0.85rem;
  height: 0.85rem;
  background-image: url("../images/dot.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.loginSection{
  
}
.loginBtt{
  border: 1px solid #e2e1e1cb;
  color: #3C90F4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 5.9rem;
  height: 2.3rem; 
}
.loginBtt:hover{
  background-color: #DEF1FF;
}
.loginLogo{
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../images/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.35rem;
  margin-right: 0.25rem;
}